{% extends 'layouts/base.html.twig' %}

{% block title %}Products - Stockify{% endblock %}

{% block content %}

    <div class="wrapper">

        {% include 'parts/menu.html.twig' %}

        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Products</h4>
                            </div>
                            <a href="{{ path('product_add') }}" class="btn btn-primary add-list">
                                <i class="las la-plus mr-3"></i>Nuevo product
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive mb-3">

                            {% if products|length > 0 %}

                                <table class="table mb-0 tbl-server-info no-footer" role="grid">
                                    <thead class="bg-white text-uppercase">
                                    <tr class="ligth ligth-data" role="row">
                                        <th class="text-left">ID</th>
                                        <th class="text-left">Nombre</th>
                                        <th class="text-center">Categoría</th>
                                        <th class="text-center">Stock</th>
                                        <th class="text-center">CreatedAt</th>
                                        <th class="text-center">Actiones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td class="text-left">{{ product.id }}</td>
                                            <td class="text-left"><a href="{{ path('product_show', {'id':product.id}) }}">{{ product.name }}</a></td>
                                            <td class="text-center"><a href="{{ path('category_show', {'id':product.category.id}) }}">{{ product.category.name }}</a></td>
                                            <td class="text-center">{{ product.stock }}</td>
                                            <td class="text-center">{{ product.createdAt.format("j F Y") }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('product_edit', {'id':product.id}) }}"><i class="las la-edit mr-3"></i>editar</a>
                                                <a href="{{ path('cambia_stock', {'product_id':product.id}) }}"><i class="las la- mr-3"></i>cambia stock</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% else %}

                                <i>No hay productos</i>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
