{% extends 'layouts/base.html.twig' %}

{% block title %}Añade categoría - Stockify{% endblock %}

{% block content %}
    <div class="wrapper">

        {% include 'parts/menu.html.twig' %}

        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Categoría</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <table class="table">
                            <tr>
                                <th class="text-right" style="width:200px;">ID:</th>
                                <td>{{ product.id }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">Nombre:</th>
                                <td>{{ product.name }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">Categoría:</th>
                                <td>
                                    <a href="{{ path('category_show', {'id':product.category.id}) }}">
                                        {{ product.category.name }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">Stock:</th>
                                <td>{{ product.stock }}</td>
                            </tr>
                            <tr>
                                <th class="text-right">Created At:</th>
                                <td>{{ product.createdAt.format("j F Y") }}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}