{% extends 'layouts/base.html.twig' %}

{% block title %}Usuarios - Stockify{% endblock %}

{% block content %}

    <div class="wrapper">

        {% include 'parts/menu.html.twig' %}

        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h4 class="mb-3">Stock Historic</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive mb-3">

                            {% if stockHistorics|length > 0 %}
                                <table class="table mb-0 tbl-server-info no-footer" role="grid">
                                    <thead class="bg-white text-uppercase">
                                    <tr class="ligth ligth-data" role="row">
                                        <th class="text-center">#</th>
                                        <th class="text-left">Usuario</th>
                                        <th class="text-center">Producto</th>
                                        <th class="text-center">Stock</th>
                                        <th class="text-center">CreatedAt</th>
                                        <!--th class="text-center">Actiones</th-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for sh in stockHistorics %}
                                        <tr>
                                            <td class="text-center">{{ sh.id }}</td>
                                            <td><a href="{{ path('user_show', {'id':sh.user.id}) }}">{{ sh.user.username }}</a></td>
                                            <td class="text-center"><a href="{{ path('product_show', {'id':sh.product.id}) }}">{{ sh.product.name }}</a></td>
                                            <td class="text-center">{{ sh.stock }}</td>
                                            <td class="text-center">{{ sh.createdAt.format("j F Y") }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% else %}

                                <i>No hay stock-historics</i>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}